
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Logged.cshtml";
}

@if (TempData["Msg"] != null)
{
    <span class="alert alert-success">@TempData["Msg"]</span>
}


<h2>Index of Dashboard</h2>

